{% extends "base.html" %}

{% block body %}

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-4 col-md-offset-4">
			<form class="form-signin" action="/login" method="POST">
				<h2 class="form-signin-heading">Iniciar sesión</h2>
				<label for="inputUsername" class="sr-only">Usuario</label>
				<input type="text" id="inputUsername" class="form-control" name="username" placeholder="Usuario" required autofocus>
				<label for="inputPassword" class="sr-only">Clave</label>
				<input type="password" id="inputPassword" class="form-control" name="password" placeholder="Clave" required>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
			</form>
		</div>
	</div>

{% endblock %}